@font-face {
    font-family: gotham-bold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: arabic;
    src: url(fonts/cairo.ttf);
}


:lang(en){
	font-family: gotham-bold ;
	direction: ltr;
}

:lang(ar){
	font-family: arabic ;
	direction:rtl !important;
}
body{
	font-size:1.8em;
	
}

.navbar{
	background:#fff;
	position:sticky;
	margin-bottom:0;
}

.navbar-brand .img-responsive{
	max-height:100%;
	max-width:100%;
}

.navbar-header a{
	padding:2%;
}


.nav  li a::after {
    content: '';
    display: block;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	transform-origin: center center;
    transform: scaleX(0);
    height: 3px;
    background: #ed1126;
	border-radius:30%;
    transition: transform .8s;
}
.nav  li  a:hover::after {
    transform: scaleX(1);
  
}
.nav .active::after {
    content: '';
    display: block;
	position:absolute;
	bottom:0px;
	left:0px;
    width:100%;
    height: 3px;
    background: #ed1126;
 }


  navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #banner {
	 max-width:100%;
  }
  #banner img {
	width:100%; 
  }
  
  
 #services, #projects{
	position: relative;
	text-align: center;
	vertical-align: middle; 
	margin-bottom:1%;
 } 
 
 #projects{
	direction: rtl;
 } 
 
 #services .col-sm-3{
	position: relative;
	margin:0;
	padding:0;
	overflow:hidden;
	
 }
 
 #projects a:hover, #services a:hover{
	 text-decoration:none !important;
	 color:#aaa;
 }
 
 #projects a, #services a {
	 color:#ccc;
 }
 
 #services h2, #projects h2{
	 padding: 1% 0;
 }
 
 
 .text{
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	height: 30%;
	width: 100%;
	margin: auto;
	overflow:visible;
	color:#fff;
	transform:scale(0);
	padding: 0 10%;	
 }
 
 
 #services img,#projects img {
	filter:grayscale(90%);
    transition-property:transform, filter;
    transition-duration: 1s;
 }
 
 #services .col-sm-3:hover img, #projects .col-sm-2:hover img{
	transform: scale(1.1);
    filter:grayscale(0%);
    transition-property:transform, filter;
    transition-duration: 1s;
 }
 #services .col-sm-3:hover .text, #projects .col-sm-2:hover .text{
	 transition-duration: 1s;
	 transform: scale(1);
 }
 
 #projects{
	margin-bottom: 10%;

 } 
 
 /*#projects .col-sm-2{
	 margin-bottom:4%;
 }*/
 
 #projects .col-sm-2 img{
	border-radius:50%;
 }
 @media (min-width: 768px) {
 #projects .col-sm-2{
	 width:20%;
 }
 }
@media (max-width: 750px) {
	#services img,#projects img {
	filter:grayscale(0%);
	transform:scale(1);
	}
	.text{
	transform: scale(1);
	}
}
 footer{
	 padding-bottom:1vh;
	 padding-top:5vh;
	 text-align:center;
	 background-color:#173C72;
	 color:#fff;
 }
 
 .carousel{
	 max-width:80%;
	 margin:auto;
 }
 
.carousel-inner{
	max-width:80%;
	margin:auto;

}
.carousel-inner img{
	margin:auto;
	display:block;
	width:100%;
}
.carousel-inner figure figcaption{
	text-align:center;
}
.icon{
  position: absolute;
  top: 45%;
  display: inline-block;
}

.icon-left{
	left: 50%;
	margin-left: -10px;
}
.icon-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control{
	max-width:10%;
	color:black;
	margin:auto;
	background-color:#fff;
	text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
	max-height:100%;
}
.carousel-control.right {
  right: 0;
  left: auto;
}
/*.carousel-control.left{
	margin-right:10vw;
}

.carousel-control.right{
	margin-left:10vw;
}*/
.carousel-control.left, .carousel-control.right{
	background-image:none;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #333;
}

#site{
	margin-top:10vh;
}
#map{
	min-width:50%;
	min-height:50vh;

}

#about
{
	padding-left:3%;
	padding-bottom:4%;
	text-align:center;
	margin:auto;
}
#about-text, #projects-text, #services-text, pre{
	text-align:right;
	margin: 2% 5%;
	line-height: 150%;
	font-size: 100%;
	overflow: hidden;
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
	word-break: keep-all;

}
 

